@import "@/themeVariables.scss";
@import "@/tokens.css";

@media all {
  .theme_variables {
    font-family: "roboto", system-ui, sans-serif;
  }
  .theme_variables {
    --primary-dark: hsl(var(--primary));
    --primary-alpha: hsl(var(--primary-foreground), 0.2);

    --text-primary: hsl(var(--foreground));
    --text-secondary: hsl(var(--muted-foreground));
    --text-disabled: hsl(var(--muted-foreground));

    --divider: hsl(var(--border));

    --circuit-background: hsl(var(--background-)); // Background for circuits only
    --background: hsl(var(--background-)); // Background for other components (generally overlayed)
    --paper: hsl(from hsl(var(--muted)) h s calc(l * 1.02));
    --paper-dark: hsl(var(--muted));
  }
  .theme-mode-dark .theme_variables{
    --paper: hsl(from hsl(var(--muted)) h s calc(l * 0.7));
  }

  .theme_variables.transparent_bg {
    --circuit-background: transparent;
  }

  .circuit-display-container {
    print-color-adjust: exact !important;
    color: var(--text-secondary);

    .icon {
      padding: 0.4em;
      height: 1.2em;
      width: 1.2em;
      border-radius: 10%;
      color: var(--text-primary);
      cursor: pointer;

      &.active {
        background: hsl(var(--muted));
      }

      &.selected {
        background: hsl(var(--primary));
        color: hsl(var(--primary-foreground));

        &.disabled {
          background: hsl(var(--muted-foreground) / .6);
          color: hsl(var(--muted));
        }
      }

      > svg {
        height: 100%;
        width: 100%;
      }
    }

    .icon.disabled, .icon-label.disabled {
      color: hsl(var(--muted-foreground) / .6);
      box-shadow: none;
      cursor: default;
    }

    .divider {
      border-bottom: 1px solid var(--divider);
      height: 0;
      width: 100%;
      margin: 20px 0;
    }

    .row {
      color: var(--text-secondary);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 10px;
      //border-bottom: 1px solid var(--divider);
      position: relative;
    }

    .row.paras {
      flex-direction: column;
      text-align: left;
      align-content: stretch;
      justify-content: stretch;
      align-items: stretch;
    }

    .row-item {
      flex-grow: 1
    }

    .row-item-l {
      text-align: left;
      padding-right: 5px;
    }

    .row-item-c {
      text-align: center;
      padding: 0 5px;
    }

    .row-item-r {
      text-align: right;
      padding-left: 5px;
    }

    .row-heading {
      color: var(--text-primary);
      font-size: 1.2rem;
      margin-top: 20px;
      //border-bottom: 2px solid var(--primary-dark);
    }

    .row-sub-heading {
      color: var(--text-primary);
      //border-color: var(--primary-dark);
      width: calc(100% - 20px);
    }

    .text-1 {
      color: var(--text-primary)
    }

    .text-2 {
      color: var(--text-secondary)
    }

    :focus-visible {
      outline: none;
      box-shadow: inset 0 0 0 6px var(--primary-alpha);
    }

    :focus {
      outline: none;
      box-shadow: inset 0 0 0 6px var(--primary-alpha);
    }

    button:focus-visible,
    .button:focus-visible {
      box-shadow: 0 0 0 6px var(--primary-alpha);
    }

    button:focus,
    .button:focus {
      box-shadow: 0 0 0 6px var(--primary-alpha);
    }

    button,
    .button,
    [type=button],
    [type=reset],
    [type=submit] {
      padding: 10px;
      cursor: pointer;
      border-radius: var(--radius);
      border: none;
      transition: background-color 0.5s ease, color 0.25s ease;
      background: var(--primary-light);
      font: 400 13.3333px Arial;
      background: var(--primary-dark);
      color: hsl(var(--primary-foreground));
    }

    button:hover, button:focus,
    .button:hover, .button:focus,
    [type=button]:hover, [type=button]:focus,
    [type=reset]:hover, [type=reset]:focus,
    [type=submit]:hover, [type=submit]:focus {
      background: hsla(var(--primary) / 0.9);
    }

    button:disabled,
    .button:disabled,
    [type=button]:disabled,
    [type=reset]:disabled,
    [type=submit]:disabled, {
      background: hsl(var(--muted));
      color: hsl(var(--muted--foreground));
    }

    input {
      background: var(--paper);
      color: var(--text-secondary);
      border-radius: 0.3em;
      border: 1px solid var(--paper);
      padding: 0.5em;
      transition: 0.2s;
    }

    input:focus {
      border: 1px solid var(--primary-dark);
      box-shadow: none;
    }

    .hover-highlight tr:nth-child(2n+1) {
      background: var(--grey200-alpha);
    }

    .no-hover-highlight tr:nth-child(2n+1) {
      background: revert;
    }

    td, th {
      padding: 10px;
      position: relative;
    }

    .complex-number {
      padding: 0 10px;
      border-left: 1px solid var(--paper-dark);

      &:last-child {
        padding-right: 0;
      }

      &:first-child {
        border: none;
      }
    }

    .matrix_container {
      border: 2px solid var(--text-secondary);
      border-top: 0;
      border-bottom: 0;
      margin: auto;
      border-collapse: collapse;
      text-align: center;
    }

    .list {
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: stretch;
      padding: 0;
    }

    .list > * {
      margin: 10px;
    }

    .list > .row-sub-heading {
      margin: 10px 0;
    }

    .chart-list-item {
      display: inline-block;
    }
  }
}