// Quantinuum-ui theme
// Custom Grey
$grey50: #f9fafb;
$grey100: #f4f4f5;
$grey200: #e7e8e9;
$grey300: #d4d6d8;
$grey400: #a2a5a9;
$grey500: #737578;
$grey600: #51565d;
$grey700: #3c424c;
$grey800: #222a34;
$grey850: #19222D;
$grey900: #131925;

$primaryLight: #1D4ED8;
$primaryDark: #93c5fd;

$errorLight: #dc2626;
$errorDark: #dc2626;

$successDark: #059669;
$successLight: #059669;

$warningLight: #ea580c;
$warningDark: #ea580c;

// ZX
$circuit-h-main: #ffee00;
$circuit-h-light: #ffee88;
$circuit-h-dark: #ffcc00;

$circuit-x-main: #ff8888;
$circuit-x-light: #e8a6a6;
$circuit-x-dark: #c62828;

$circuit-y-main: #6699ff;
$circuit-y-light: #86c6f6;
$circuit-y-dark: #2828c6;

$circuit-z-main: #ccffcc;
$circuit-z-light: #e2ffe2;
$circuit-z-dark: #28c628;

// ZX dark
$darkCircuit-h-main: #e4a200;
$darkCircuit-h-light: #ffee00;
$darkCircuit-h-dark: #cf6e00;

$darkCircuit-x-main: #a91c1c;
$darkCircuit-x-light: #ff8888;
$darkCircuit-x-dark: #880000;

$darkCircuit-y-main: #2828c6;
$darkCircuit-y-light: #6699ff;
$darkCircuit-y-dark: #000088;

$darkCircuit-z-main: #43af43;
$darkCircuit-z-light: #ccffcc;
$darkCircuit-z-dark: #008800;